/retailcrm/data/config/settings.ini
/retailcrm/data/upload/*.xml
/retailcrm/data/upload/*.gz
/retailcrm/data/logs/*/*.log

/retailcrm/bundle/handler/*.php
/retailcrm/bundle/mail/*.txt
/retailcrm/bundle/sql/*.sql
/retailcrm/bundle/extend/*/*.php
